@inherits LayoutComponentBase
<link href="css/Navigation_Special.css" rel="stylesheet" />
<link href="css/Hero_Section.css" rel="stylesheet" />
<link href="css/About_Section.css" rel="stylesheet" />
<link href="css/Contact_Section.css" rel="stylesheet" />
<link href="css/Process_Section.css" rel="stylesheet" />
<link href="css/Product_Section.css" rel="stylesheet" />
<link href="css/Footer_Special.css" rel="stylesheet" />

<link href="css/Admin_Products/CreateProducts.css" rel="stylesheet" />

<link href="css/Products/Products_Page.css" rel="stylesheet" />
<link href="css/Products/Products_Filters.css" rel="stylesheet" />
<script src="js/secondary-navbar.js"></script>
<link href="js/secondary-navbar.js" rel="stylesheet" />
<link href="css/SecondaryNavbar.css" rel="stylesheet" />

<link href="css/Products/ImageWithFallback.css" rel="stylesheet" />

<div class="page">


    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


