
<header>
    <div class="container header-container" >
        <div class="logo">
            <i class="fas fa-cube"></i>
            <h1>Eternal Bears</h1>
        </div>
        <nav>
            <ul>
                <li><a href="#home">Accueil</a></li>
                <li><a href="#about">À propos</a></li>
                <li><a href="#products">Créations</a></li>
                <li><a href="#process">Processus</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
